<h1> Create new mage </h1>

<%= render "form", mage: @mage %>
<%= button_to mages_path, method: :get, class:"btn btn-secondary" do %>
              <i class="fa-solid fa-arrow-left"></i> Back to Mages
              <% end %>
