<h1> Create new archmage </h1>

<%= render "form", archmage: @archmage %>
<%= button_to archmages_path, method: :get, class:"btn btn-secondary" do %>
              <i class="fa-solid fa-arrow-left"></i> Back to Archmages
              <% end %>
